<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <p>
            &copy; 2014 ChallengeWithFriends
          </p>
          <p>
            Violation of this copyright is subject to instant street justice
          </p>
        </div>
        <div class="col-sm-3">
          <a class="twitter-timeline" height="200" border-color="#fff" href="https://twitter.com/ChallengeWF" data-widget-id="508497730130280448">Tweets by @ChallengeWF</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        
      </div>

    </div>
  </div>
</footer>