<div class="container">
  <h3>
    {{ awareness.name }}
  </h3>
  <h5>
    by: {{ awareness.org }}
  </h5>

    <br>

    <div class="row">
      <div class="col-md-12">

        <div class="videoWrapper">
          <youtube-video id="good-vid" video-url="awarenessVideo"></youtube-video>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="control-buttons">
          <button class="btn btn-primary btn-lg" ng-click="challenge()">Accept</button>
          <button class="btn btn-success btn-lg"  ng-click="challenge()">Donate</button>
        </div>

      </div>
    </div>


  <div class="row">
    <div class="col-md-8">
        <h3>Description</h3>
        <p>
          Cancer is a broad term for a class of diseases characterized by abnormal cells that grow and invade  healthy cells in the body.  Breast cancer starts in the cells of the breast as a group of cancer cells that can then invade surrounding tissues or spread (metastasize) to other areas of the body.
        </p>

        <p>
          Octorber is Breast Cancer awareness month, which is an annual campaign to increase awareness of the disease. While most people are aware of breast cancer, many forget to take the steps to have a plan to detect the disease in its early stages and encourage others to do the same. We have made a lot of progress but still have a long way to go and need your help!
        </p>

        <p>
          Cancer begins in the cells which are the basic building blocks that make up tissue. Tissue is found in the breast and other parts of the body.  Sometimes, the process of cell growth goes wrong and new cells form when the body doesn’t need them and old or damaged cells do not die as they should.  When this occurs, a build up of cells often forms a mass of tissue called a lump, growth, or tumor.
        </p>
        <p>
          Breast cancer occurs when malignant tumors develop in the breast.  These cells can spread by breaking away from the original tumor and entering blood vessels or lymph vessels, which branch into tissues throughout the body. When cancer cells travel to other parts of the body and begin damaging other tissues and organs, the process is called metastasis.
        </p>

        <h3>Accepted</h3>
        <div class="row">
          <div class="youtubeWrapper" ng-repeat="youtube in completed.youtubes">
            <div class="col-sm-3">
              <div class="contributors">
                <a ng-href="https://www.youtube.com/watch?v={{ youtube.image }}">
                    Name {{ youtube.title }}
                </a>
                <img ng-src="https://img.youtube.com/vi/{{ youtube.image }}/default.jpg">
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="col-md-4">
      <div class="donated">
        <h3>
          Donated
        </h3>
        <ol>
          <li class="" ng-repeat="user in completed.donated">
            {{ user.name }}
            {{ user.ammount }}
          </li>
        </ol>
      </div>

      <div class="tweets">
        <a class="twitter-timeline" height="200" border-color="#fff" href="https://twitter.com/ChallengeWF" data-widget-id="508497730130280448">Tweets by @ChallengeWF</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>


    </div>
  </div>


</div>

<br>
<!-- <div disqus="'challengewithfriends'"></div> -->
<div class="container">
  <div id="disqus_thread"></div>
</div>
